
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;

  }

.mycard{
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  float: left;
  margin: 15px;
}