@import "bootstrap.min.css";

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-color: #1a3529b5;
    min-height: 900px;
  }

.mycard{
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  margin: 15px;
  border: solid 2px rgb(206, 248, 248);
  border-radius: 15px;
}
.disableddiv {
  pointer-events: none;
  opacity: 0.8;
}
.win-info{
  font-size: 25px ;
}
.myimage{
  border-radius: 15px;
  padding: 5px;
}
.mysmallcard{
  height: 150px;
  width: 150px;
}